body {
   background-color: rgba(255, 255, 255, 0.6);
   background-blend-mode: multiply;
}

.main {
   padding-inline: 1em 1em;
}

.about-page-title {
   color: #333;
   font-size: 4em;
   text-align: center;
   padding-block: 0 0.80em;

   animation: slide-in 5s linear;
}

@keyframes slide-in {
   from {transform: translatex(-100%);}
   to {tranform: translate(100%); transform: scale(1.2);}

}

.about-intro-text {
   padding-bottom: 2em;
}

.grid-wrap {
   display: inline-grid;
   grid-template-areas: "code code code";
   grid-template-columns: "50px auto 1fr";
   gap: 12px;
   margin-left: 5em;
  
}

.about-page-image {
   border-radius: 15px;
   height: 350px;
   box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.10);
}

.about-text {
   display: grid;
   align-items: center;
   padding-left: 2em;
}

@media (min-width: 320px) and (max-width: 595px) {
.navbar {
   padding-inline: 1em;
}
   
.nav-links-case,
.fa-menu {
   position: relative;
}
   
.nav-links-case {
   padding-inline: 0 2em;
}
   
.fa-menu {
   color: hsla(0, 3%, 18%, 0.793);
   bottom: 3px;
   cursor: pointer;
}
   
.nav-links-float {
   position: absolute;
}
   
.links {
      margin-inline: 1em;
      visibility: hidden;
}
   
.nav-links-case:hover .links {
      visibility: visible;
      padding: 0;
      margin-block:5px 10px;
}
   
.nav-links-case:hover .nav-links-float {
      margin-top: 10px;
      left: -17px;
}

.home-page-title {
      font-size: 3em;
      padding-block: 3em 1.3em;
}

.grid-wrap {
   grid-template-areas: '..';
}

.about-text {
   /* white-space: nowrap; */
   padding: 0;
}
   

}