* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

li {
   list-style-type: none;
   display: inline-block; /* list links will sit next to each other*/
}

a {
   text-decoration: none;
   color: #333;
   display: inline-block; /* set to this element so paddings/width can apply effectively */
}

html {
   font-size: 13px;
}

body {
   font-family: 'Albert Sans', Arial;
}

.navbar {
   padding-inline: 1.8em;
   margin-top: 1em;
   margin-bottom: 2.5em;
}

.nav-case {
   display: flex; 
   /* justify-content: space-between; */
   align-items: center;
}

.navbar .nav-brand-image {
   width: 25px;
}

.links {
   border: 1px solid red;
   padding: 0.8em;
}

