

.secTion-one {
   
}

.secTion-one-photo-holder {
   position: relative;
}

.max-photo {
   position: absolute;
   width: 100%;
   height: 100%; /* image height will be same as it's parent. (html line 139) */
   object-fit: cover; /* image will keep it's dimension, fill it's parent box & won't stretch */
}


.cloud-photo {
   width: 100%;
}

.secTion-one-floatImg-holder {
   background-color:aliceblue;
   max-width: fit-content;
   margin-left: 20px;

   position: absolute;
   bottom: 10em;
   border-radius: 5px;
}

.all-apps-wrapper {
   display: flex;
   column-gap: 10px;
   border-bottom: 1px solid #757272;
   padding-inline: 14px;
}

.all-apps-box, .photoshop-box {
   border: 1px solid #757272;
   display: flex;
   align-items: center;
   justify-content: center;
   column-gap: 10px;
   padding-inline: 50px;
   padding-block: 15px;
   margin-top: 10px;
}

.photoshop-box, .all-apps-box {
   border-bottom: none;
}

.all-apps-box {
   background-color: #fff;
   position: relative; /* will be the relative box of it's 'after' element below, set to absolute*/
}

/* The code below covers the border-bottom of element (line 22 above) */
.all-apps-box::after {
   content: '';
   background-color: #fff;
   width: 100%;
   height: 2px;
   position: absolute;
   bottom: -1.8px;
}


.cloud-IMG {
   width: 35px;
}

.apps-text {
   font-size: 17px;
   font-weight: bold;
}

.secTion-one-photo-info {
   background-color: white;
   padding-left: 15px;
   font-size: 120%;
   color: #1d0707;
   border-radius: 5px;
   padding-top: 20px;
   padding: 25px 0 0 16px;
}

.secTion-one-photo-info .saved-price-rate {
   font-size: 30px;
   font-weight: 600;
}

.secTion-one-terms-link {
   color: hsl(214, 100%, 50%);
}

.btn-bx {
   padding: 40px 0;
}

.btn {
   border-radius: 50px;
   margin: 2px;
   font-size: 15px;
   font-family: system-ui;
}

.btn-light {
   background-color: #fff;
   border: 2px solid black;
   padding: 10px 20px;
}

.btn-primary {
   background-color: hsla(217, 100%, 50%, 0.94);
   border: 2px solid black;
   border: none;
   padding: 14px 35px;
   color: white;
}

.btn-light, .btn-primary {
   transition: opacity 0.15s, border-color 0.15s;
}

.btn-light:hover {
   cursor: pointer;
   opacity: 0.5;
   border-color: orange;
}

.btn-primary:active {
   opacity: 0.6;
}

.btn-primary:hover {
   cursor: pointer;
   opacity: 0.7;
}

.btn-primary:active {
   opacity: 0.6;
}

.cloud-links-case {
   text-align: center;
   font-size: 1.2em;
}

.cloud-links {
   color: blue;
   display: inline-block; /* set else paddings won't apply */
   margin-top: 20px;
   padding-inline: 0 12px;
}

.cloud-links:hover {
   text-decoration: underline;
}

.ref-text {
   color: black;
   font-weight: bold;
   font-size: 1.3em; /* line 139 will not override since css rules moves from up to down*/
}

.section-one-hr {
   width: 97%;
   margin: 20px auto;
   opacity: 0.3;
   color: rgb(99, 29, 29);
}



/*********************   Section-two *********/


.section-two-holder {
   display: grid;
   grid-template-columns: repeat(3, auto);
   grid-template-rows: 500px 500px; /* determines the HEIGHT of grid row. first and second row respectively */
   gap: 2em;
   margin-top: 5em;
   padding-inline: 8em;
}

.item-1 {
   border: none;
}

.item-5 {
   grid-column:  2 / 4 ; /* take up it's column on the second row, starting from item2 and stops before item-4 */
}

/**************  styles for html code. from line 214-230  ****************************** */

.item-1 {
   background-color: rgba(229, 40, 11, 0.2);
   background-image: url("../IMG/homepage-CC-sm-pod-DC-e-sign-overlay-new-art\ V2.png.img.png");
   background-size: cover;
   background-blend-mode: multiply;
  /* background-position-y: 516px;   will push the bg-image downwards to reveal to top part since the div wrapping it size is smaller than that of the bg-img */
   background-position-y: -516px; 
   background-position-x: 40px; 
}

.items-text-align {
   padding-left: 1em;
   padding-top: 1.2em;
}

.items-title {
   font-size: 1.5em;
   font-weight: 700;
   padding-bottom: 1em;
}

.items-link {
   font-weight: bold;
   padding-top: 0.5em;
}

.items-link:hover {
   text-decoration: underline;
}

.item-2 {
   background-color:hsl(214, 100%, 50%);
   background-image: url("../IMG/pexels-photo-6981004.jpeg");
   background-size: cover;
   background-repeat: no-repeat;

   position: relative;

   border: none;
}

.item-4 {
   overflow: clip;
}

.started {
   color: #af3535;
}

.item-2-float-nested {
   position: absolute;
   bottom: 2em;
   width: 100%;
   left: 3px;
}

.item-2-float-nested * {
   color: #333;
}

.item1-btn {
   background-color: rgba(239, 239, 240, 0.6);
   display: inline-block;
   font-family: system-ui, Arial;
   font-style: italic;
}

.item1-btn:hover {
   /* color: white; */
   background-color: rgb(108, 122, 137);
}

.item1-bTn {
   border: none;
   border-radius: 100px;
   padding: 15px 25px;
   margin-right: 10px;
}

.item1-bTN {
   border: none;
   border-radius: 5px;
   padding: 10px 25px;
   font-size: 1.2em;
   box-shadow: 0 0 0.5px red;
}

.refresh-icon {
   width: 18px;
   margin-inline: 5px;
   padding-top: 2px;
}

.refresh-icon, .generate-span {
   display: inline-block;
   vertical-align: middle;
}

.item-3 {
 background-image: url("../IMG/studentsandTeachers.PNG");
 background-size: cover;  
 background-position-x: -100%;
 border: none; 
}

.grid-three-title, .grid-three-info, .grid-three-link {
   color: #fff;
}

.grid-three-subTitle, .grid-three-link {
   font-weight: bold;
}

.grid-three-subTitle {
   color: #fff;
   font-size: 2em;
}

.grid-three-info, .grid-three-link {
   margin-top: 10px;
}

.grid-three-link:hover, .item5-link:hover {
   text-decoration: underline;
}


.item-4 {
   font-weight: bold;
   background-color: rgb(144, 144, 231); 
   border: none;
}

.item-4 * { /* all children font's size will increase */
   font-size: 1.2em;
   margin-bottom: 1em;
}

.grid-four-title, .grid-four-subTitle {
   font-size: 1.7em;
   border-bottom: 1px solid black;
}

.item-5, .item-4 {
   padding: 2em;
}

.item-5 {
   background-color: plum;
   background-image: url("../IMG/Capture.PNG");
   background-size: cover;
   border: none;
}

.item-5-title {
   font-size: 1.8em;
   font-weight: bold;
}

.item-5-title, .item5-link {
   font-weight: bold;
}

.item5-content {
   padding-top: 0.5em;
   font-size: 1.4em;
}

.item5-link {
   padding-top: 0.9em;
}

/* media condtions for section one */

@media (max-width: 500px) {
.secTion-one-photo-holder {
   height: 300px;
} 

.contentAfter-photoHolder {
   padding: 2.5em 3em 2.5em 2em;  
}

.title-after {
   font-size: 3.5em;
   font-weight: 500;
   line-height: 1.1em;
   padding-bottom: 0.6em;
   width: 10em;
}

.contentAfter-info  {
   font-size: 1.5em;
   line-height: 1.2em;
   padding-bottom: 1.3em;
   width: 20em;
}

.contentAfter-linkOne {
   color:hsl(214, 100%, 50%);
   cursor: pointer;
   text-decoration: underline;
}


.contentAfter-btn, .contentAfter-linkTwo {
   font-weight: bold;
} 

.contentAfter-linkTwo, .cloud-links, .contentAfter-btn {
   color:hsl(214, 100%, 50%);
   font-size: 1.2em;
}

.contentAfter-btn {
   background-color:hsl(214, 100%, 50%);
   border: none;
   border-radius: 2em;
   color: #fff;
   font-family: inherit; /* iherits project's official font, 'Source sans 3' */
   margin-bottom: 1.3em;
   padding: 0.4em 1.2em;
}

.cloud-links-case {
   text-align: center;
   margin-top: 2em; 
   padding-inline: 2em;
}

#cloud-text {
   color: black;
   font-size: 1.2em;
   font-weight: 600;
}

.ref-text {
   display: block; /* html span element on line 201 takes up it's entire width, forces other elements below it.  */
   font-size: 1em;
}

.cloud-links {
   font-weight: 500;
   font-size: 1em;
   margin: 0 1em 0 0;
}

.cloudLinksCase {
   line-height: 1.3em;
}

.section-two-holder {
   display: flex;
   flex-direction: column;
   padding-inline: 2.5em;
}

.items {
   height: 550px;
}

.item-5 {
   background-position-x: -250px;
}

.discount-range {
   margin-left: 3em;
   margin-top: 5em;
   text-align: center;
}
}


@media (min-width: 501px) {
   .contentAfter-photoHolder {
      display: none;
   }
}

@media (max-width: 1220px) {

.secTion-one-floatImg-holder {
   visibility: hidden;
}
}
   
@media (min-width: 1220px) {
      
.secTion-one-floatImg-holder {
   visibility: visible;
}
   
.max-photo {
   visibility: hidden;
}
}
   



