* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   scroll-behavior: smooth
}

html {
   font-size: 12px;
}

body {
   font-family: 'Source Sans 3', sans-serif, system-ui, Arial;
   height: 2000px;
}

a {
   text-decoration: none;
   color: #000;
}

.header {
   display: flex;
   column-gap: 2.3125em; /* will give each header 'direct child' a column gap of 37px each */
   align-items: center;
   background-color: white;
   z-index: 100;
   padding-block: 1.7em;
   padding-inline: 1.3em;
   border-bottom: 1px solid rgb(248, 242, 242);

}

.bx-md {
   font-weight: bold;
   display: none;
}

.header-child-one {
   display: flex;
   align-items: center;
}

.adobe-official-icon {
   width: 30px;
}

.adobe-icon-name {
   color: hsla(0, 100%, 50%, 0.837);
   font-weight: bold;
   font-size: 1.2em;
   margin-left: 7px;
   transform: scaleY(1.1);
}

.child-text-title {
   font-size: 1.2em;
}

.bx-sm {
   position: relative;
   top: 3px;
}

.search-sign-in-holder {
   display: flex;
   align-items: center;
   column-gap: 15px;
   margin-left: auto;
}

.nav-search-icon {
   width: 25px;
   transform: rotateZ(80deg); /* will rotate nav search icon 80 degrees to the right */
}

.header-sign-in-link {
   color: #000;
}

/*dropdown Nav */


.query-menu-icon {
   opacity: 0.6;
   margin-right: 30px;
   padding-left: 15px;
}

.query-sign-in {
   padding-left: 15px;
}

.query-sign-in:hover {
   color: rgb(38, 38, 232);
}

.holder-Nav {
   display: flex;
   align-items: center;
}

.absoLute {
   width: 100vw; 
   overflow-y: scroll; /* will create a sidebar, enabling page visitor to see the full width/content of all '.hidden-links' and it's content */
}

.inpuT-search-icon-holder {
   border: 1px solid lightgray;
   border-radius: 3px;
   display: flex;
   align-items: center;
   padding-block: 7px;
   padding-inline: 10px;
   width: 95%;
   margin: 0 auto 25px auto;
}

.input-bar {
   border: none;
   outline: none;
   font-size: 1em;
}

.input-bar::placeholder {
   font-size: 1em;
}

.icon-search {
   transform: rotatez(90deg);
}

.header-child-holder {
   /* background-color: rgb(255, 250, 250); */
   background-color: hsla(0, 0%, 95%, 0.308);
   font-size: 10px;
}

.child-text-title, .inpuT-bar-box {
   flex: 1;
}

.sign-iN {
   margin-left: auto;
}

.hidden-links {
   background-color: #fffdfdf9;
   border-bottom: 1px solid rgb(246, 242, 242);
   display: flex;
   padding-block: 1.4em;
   padding-inline: 1.8em;
}


/* Media conditions for header */
@media (max-width: 500px) {
.query-sign-in {
   font-size: 1.2em;
   padding-right: 15px;
}

.query-sign-in:hover {

}
}

@media (max-width: 899px)  {
.main-nav {
   display: none;
}

.nav-row {
   padding-block: 20px;
   border-bottom: 1px solid rgb(251, 249, 249);
}

.rel {
   position: relative;
   cursor: pointer;
}

.absoLute {
   margin-top: 40px;
   position: absolute;
   visibility: hidden;
}

.rel:hover .absoLute {
   visibility: visible;
}

}

@media (max-width: 900px) {
.query-nav {
   display: block;
}

}

@media (min-width: 900px) {
.main-nav {
   display: block;
}
   
.query-nav, .absoLute, .rel {
   display: none;
}

}















































































































































































