* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   scroll-behavior: smooth
}

html {
   font-size: 12px;
}

body {
   font-family: 'Source Sans 3', sans-serif, system-ui, Arial;
}

a {
   text-decoration: none;
   color: #000;
}

.header {
   display: flex;
   column-gap: 2.3125em; /* will give each header 'direct child' a column gap of 37px each */
   align-items: center;
   padding-block: 1.7em;
   padding-inline: 1.3em;
   border-bottom: 1px solid rgb(248, 242, 242);
}

.bx-md {
   font-weight: bold;
   display: none;
}

.header-child-one {
   display: flex;
   align-items: center;
}

.adobe-official-icon {
   width: 30px;
}

.adobe-icon-name {
   color: hsla(0, 100%, 50%, 0.837);
   font-weight: bold;
   font-size: 1.2em;
   margin-left: 7px;
   transform: scaleY(1.1);
}

.child-text-title {
   font-size: 1.2em;
}

.bx-sm {
   position: relative;
   top: 3px;
}

.flex-grow { /* this div(html code line(53) will grow, thus take up the remaining space in front of it, pushing line 59 to the far end*/
   flex: 1;
}

.search-sign-in-holder {
   display: flex;
   align-items: center;
   column-gap: 15px;
}

.nav-search-icon {
   width: 25px;
   transform: rotateZ(80deg); /* will rotate nav search icon 80 degrees to the right */
}

.header-sign-in-link {
   color: #000;
}

/*dropdown Nav */

.query-menu-icon {
   opacity: 0.6;
   margin-right: 30px;
}

.nav-row {
   display: flex;
   align-items: center;
}

.query-adobe {
   flex: 1;
}

.query-sign-in:hover {
   color: rgb(38, 38, 232);
}

.inputSearch-case {
   border: 1px solid hsl(180, 8%, 85%);
   display: flex;
   align-items: center;
   padding-block: 7px;
   padding-inline: 10px;
   border-radius: 3px;
}

.icon-search {
   transform: rotatez(90deg);
}

.searcHbar-case {
   flex: 1;
}

.searcHbar {
   border: none;
   outline: none;
   font-size: 1em;
}

.searcHbar::placeholder {
   font-size: 1em;
}

.header-child-holder {
   background-color: rgb(255, 250, 250);
   font-size: 10px;
}

.child-one {
   border-bottom: 1px solid rgb(246, 240, 240);
   padding-block: 10px 25px;
   padding-inline: 10px;
}

.child-text-title {
   flex: 1;
}

/* Media conditions for header */

@media (max-width: 899px)  {

}















































































































































































