* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   scroll-behavior: smooth
}

html {
   font-size: 12px;
}

body {
   font-family: 'Source Sans 3', sans-serif, system-ui, Arial;
}

a {
   text-decoration: none;
}

.header {
   display: flex;
}

.header-child-one {
   display: flex;
}

.adobe-official-icon {
   width: 25px;
}