.section-three {
   background-color: rgb(252, 248, 248);
   margin-top: 6em;
   padding: 3em 0 0 2em;
}

.footer-grid-container {
   display: grid;
   grid-template-areas: '. . . . .'; 
}

.section-three-header {
   font-size: 1.2em;
   font-weight: bold;
   opacity: 0.8;
}



