.campus {
    width: 80%;    
    margin: auto;  
    padding-top: 50px;
    text-align: center; 
    padding-bottom: 10%;
}

.campus h1 {
    font-size: 36px;
}

.campus p {
    color: #938e8e;
}

.row {
    margin-top: 50px;
}

    /*  Refactored / cleaned up codes   */
.img-container,
.img-container img,
.img-text-box {
    border-radius: 4px;
}

.img-text-box,
.img-text-box-h3,
.img-text-box-span {
    position: absolute;
}

/* -------------------------------------------------------- */


.img-container {
    width: 300px;
    height: 450px;
    position: relative; 
    display: inline-block; /* .img-containers will sit next to each other */
    margin-right: 20px;
}

.img-container img {
   width: 300px;
   opacity: 0.8; 
}

.img-text-box {
    color: #fff;
    font-weight: 500;
    padding-top: 10px; 

    /* position: absolute; */
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    transition: background-color .6s;
    cursor: pointer;
}

.img-text-box:hover {
   background-color: rgba(255, 0, 0, 0.4);
}

.img-text-box h3 {
    font-weight: 500;
    font-size: 26px;
    /* position: absolute;    This line of code is refactored  */
    right: 100px;
    transform: translateY(30rem); /* moves h3's text downwards to a value of 30rem */
    opacity: 0;
    transition: transform .5s;
}

.img-text-box:hover h3 { /* Target 'h3' inside me, let it's content be visible when u hover over me. */
    opacity: 1;
    transform: translateY(15rem); /* this moved upwards instead of downwards, maybe because of (line 60) conflicted */
}

.img-text-box span {
    transform: translateX(-10vw); /* move/float this floating element to left  (-10%) of the viewports width */
    /* position: absolute;    This line of code is refactored  */
}


                    /* Media Query for 700px and lesser viewport, only for line 180. Html code file.  */

@media {
    .washT {
       position: absolute;
       transform: translateX(-80%); /* move html content,(line 180) left, -80% of the viewport *
    }
}













