
.header {
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url("../images/banner.png"); /* The linear gradient is the 'overlay' to this background image */
    background-position: center;
    background-size: cover;
    min-height: 100vh; /* the height of this background image will not be smaller than the full height of the viewport height*/
    width: 100%; /* take up the full viewport's width */
   
    position: relative; /* Stay in this webpage's flow */
}

nav img {
    width: 9.375rem; /* 150px */
}

nav {
    display: flex; /* aligns img and links horizontally */
    padding: 2% 6%; /* top,bottom / left and right padding, applied ONLY to nav and not this 'section' */
    justify-content: space-between; /* horizontally spread nav img and .nav-links>contents accross the nav  */
    align-items: center; /* vertically aligns nav img and .nav-links>links*/
}

.nav-links {
    flex: 1; /* this element grows and moves from 'right->left' because of (line 25), & then takes up the space created by line-25.  */
    text-align: right; /* alignes .nav-link 'links' to the right side of the main 'nav' */
}

.nav-links ul li {
    list-style: none; /* Removes bullets from 'li' items*/
    display: inline-block; /* li element is now an inline block and links in it will sit next to each other.  */
    padding: 0.5rem 0.75rem; /* 8px & 12px: top and bottom, left and right*/
    position: relative; /* used to identify parent classes, stays in the flow of this page code file*/
}

.nav-links ul li a {
    color: #fff; /* sets links color to white */

    text-decoration: none; /* Removes default underline from links*/
    font-size: 0.8125rem; /* font size of 13px to lonks */
}

    /* hover styling using the after selector  */

.nav-links ul li::after { /* used to insert something after the content of the 'selected element(s) */
    
    content: "";  /* content placed here will sit next the 'li links' */
    background-color: #f44336; /* background color of the after li style*/
    display: block; /* li, now to styled be just a 2px line with the 'after selector', will sit directly under each li link */
    width: 100%; /* take up effect of (code line 37) */
    width: 0;  /* will now hide 'lines'. We'll make them visible only when hover on */
    height: 2px;  /* li's '::after line */
    margin: auto; /* horizontally centers 'li line' under link */ 
    transition: width .4s;  /* ::after 'li' lines will appear in a smooth transition style. The '.' makes speeds up the transition. */
}

    /* after style selector hover effect */

.nav-links ul li:hover::after { 
    width: 100%; /* after selector lines will be visible when links are hovered on (line 57) */
}

.text-box {
    color: #fff;
    width: 90%; /* take up 90% of this header section's width */
    position: absolute; /* floats this element, makes it relative to it's parent, set to relative html (code line 24) */
    top: 50%; /* move this element and it's contents 50% from top of this section. */
    left: 50%; /* move 50% from the left of this 'section' */
    transform: translate(-50%, -50%); /* moves element back up a distance of half of the height and width set to .header (code line 13 and 14 )  */
    text-align: center; /* centers html code line(59, 60, 63 */
}


.text-box h1 {
    font-size: 5rem;
}

.text-box p {
    margin: 0.625rem 0 2.5rem; /* margin top, left and right, bittom */
    font-size: 0.875rem;
    color: #fff;
}

.text-box .btn {
    display: inline-block; /*  take up space only based on your content*/
    color: #fff;
    text-decoration: none; /* remove default anchor tag underlines. */
    border: 0.0625rem solid #fff;
    padding: 0.75rem 2.125rem; /* padding top, padding bottom */
    background-color: transparent;
    font-size: 13px;
    position: relative;
    cursor: pointer;
    transition: background-color 1s, border 1s;
}

.btn:hover {
    border: 1px solid #f44336;
    background-color: #f44336;
}

        /* hide boxicons on a viewport size higher than 700px */

nav .bx {       /* icons classname. html code- line  44, 69 */
    display: none; 
}




            /*  MEDIA QUERY conditions for 700px viewports or lesser */

    @media(max-width: 700px) {

        .header .text-box h1 {
            font-size: 20px;
        }
       
        /*  114-121 creates a side-menu for nav links */
        .nav-links {
            position: absolute; /* .nav-links & contents moves out of layout flow */
            background-color: #f44336;
            height: 100vh; /* take up 100vh of this section(.header) */
            width: 200px;   
            top: 0;        /* 0 pixels from top of this section, sticks to top */
            right: 0;           /* sticks to right side, stays visible. in contrast to (line 134) below  */
            text-align: left;   /* anchor tags are left aligned */
            z-index: 2;  /*  place this element in front of every contents in this section, */
            
            transition: 1s;   /* .nav-links will transition smoothly 'onClick'. See html code - lines 44 and 70, 87 - 97 */
        }

        .bx-menu {
            font-size: 20px;
        }

        .nav-links {
            right: -200px;  /* Negative values, this element, set to absolute, and it's contact, (line 123) will move beyond the right of it's parent, '.header' set to relative, hence will not be visible again on the viewport  */
        } 

       .nav-links ul li {
            display: block; /* links will sit on top of each other */
            padding: 10px 10px; /* modifies layout on this vwprt size (code line 38) */
        }

        .nav-links a {
             /* became a block element since it was nested in block elements,
             but here in this m.query conditions, be an inline-block, code line (149) below is effective because of this.  */
            display: inline-block; 
           
        }


        /*  pseudo selector  ::after styles for nav links */
        .nav-links ul li a::after {
            content: '';
            display: block;
            width: 100%;
            background-color: purple;
            margin-right: auto;
            height: 2px;
            width: 0; 
            transition: .2s linear;  
        }

        /*  pseudo selector ::after hover styles for nav links */
        .nav-links ul li a:hover::after {
            width: 100%;
        }

        /* icons to close and open nav links side-Menu created. 114-121  */

        nav .bx {
            display: block;  /* icons will be visible. line 111)
             and will be on it's own line*/
            color: #fff;    /* changes icons color to white */
            margin: 10px;
            cursor: pointer;
        }

        .nav-links ul {
            padding: 20px;
        }


    
}