
/* Universal selector, styles in it applies to each and every element in this file  */
* {
    padding: 0; /* removes all default padding and margins(line 5) on this page,*/
    margin: 0;  /* removes all default margins on this page */
    font-family: 'Heebo', sans-serif; /* sets heebo font to all texts on this page*/
}

.header {
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url("../images/banner.png"); /* The linear gradient is the 'overlay' to this background image */
    background-position: center;
    background-size: cover;
    min-height: 100vh; /* the height of this background image will not be smaller than the full height of the viewport height*/
    width: 100%; /* take up the full viewport's width */
   
    position: relative; /* Stay in this webpage's flow */
}

nav img {
    width: 9.375rem; /* 150px */
}

nav {
    display: flex; /* aligns img and links horizontally */
    padding: 2% 6%; /* top,bottom / left and right padding, applied ONLY to nav and not this 'section' */
    justify-content: space-between; /* horizontally spread nav img and .nav-links>contents accross the nav  */
    align-items: center; /* vertically aligns nav img and .nav-links>links*/
}

.nav-links {
    flex: 1; /* this element grows and moves from 'right->left' because of (line 25), & then takes up the space created by line-25.  */
    text-align: right; /* alignes .nav-link 'links' to the right side of the main 'nav' */
}

.nav-links ul li {
    list-style: none; /* Removes bullets from 'li' items*/
    display: inline-block; /* li element is now an inline block and links in it will sit next to each other.  */
    padding: 0.5rem 0.75rem; /* 8px & 12px: top and bottom, left and right*/
    position: relative; /* used to identify parent classes, stays in the flow of this page code file*/
}

.nav-links ul li a {
    color: #fff; /* sets links color to white */

    text-decoration: none; /* Removes default underline from links*/
    font-size: 0.8125rem; /* font size of 13px to lonks */
}

    /* hover styling using the after selector  */

.nav-links ul li::after { /* used to insert something after the content of the 'selected element(s) */
    
    content: "";  /* content placed here will sit next the 'li links' */
    background-color: #f44336; /* background color of the after li style*/
    display: block; /* li, now to styled be just a 2px line with the 'after selector', will sit directly under each li link */
    width: 100%; /* take up effect of (code line 37) */
    width: 0;  /* will hide 'lines'. We'll make them visible only when hover on */
    height: 2px;  /* line of of this '::after 'li' */
    margin: auto; /* horizontally centers 'li line' under link */ 
    transition: width .4s;  /* ::after 'li' lines will appear in a smooth transition style. The '.' makes speeds up the transition. */
}

.nav-links ul li:hover::after { /* after style selector hover effect */
    width: 100%; /* after selector lines will be visible when links are hovered on (line 57) */
}

.text-box {
    color: #fff;
    width: 90%; /* take up 90% of this header section's width */
    position: absolute; /* floats this element, makes it relative to it's parent, set to relative html (code line 24) */
    top: 50%; /* move this element and it's contents 50% from top of this section. */
    left: 50%; /* move 50% from the left of this 'section' */
    transform: translate(-50%, -50%); /* moves element back up a distance of half of the height and width set to .header (code line 13 and 14 )  */
    text-align: center; /* centers html code line(59, 60, 63 */
}


.text-box h1 {
    font-size: 3.875rem;
}

.text-box p {
    margin: 0.625rem 0 2.5rem; /* margin top, left and right, bittom */
}

