
/* Universal selector, styles in it applies to each and every element in this file  */
* {
    padding: 0; /* removes all default padding and margins(line 5) on this page,*/
    margin: 0;
}

.header {
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url("../images/banner.png"); /* The linear gradient is the 'overlay' to this background image */
    background-position: center;
    background-size: cover;
    min-height: 100vh; /* the height of this background image will not be smaller than the full height of the viewport height*/
    width: 100%; /* take up the full viewport's width */
   
    position: relative; /* Stay in this webpage's flow */
}

nav img {
    width: 9.375rem; /* 150px */
}

nav {
    display: flex; /* aligns img and links horizontally */
    padding: 2% 6%; /* top,bottom / left and right padding to nav*/
}