
* {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', Arial;
    --main-cleanCode: rgb(187, 135, 39);
    
}

body {
  
}

header {
    display: flex;
    align-items: center;
    padding: 0.99rem 4.5rem;
}

header .fsd {
    color: var(--main-cleanCode);
    font-size: 2rem;
    font-weight: 900;
    padding-right: 10rem;
}

header .links a {
    text-decoration: none;
    padding-right: 2.7rem;
}






