
* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', Arial;
    --main-cleanCode: #F97B22;
    --main-links: #fff; 
}

body {
    background-image: url("../img/thunderstorm-g01ff31372_1280.jpg");
 
    background-size: cover; /* stretch an image to fit the background of an element */

}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 3rem;
    margin-top: 10px;
    
    position: relative;
}


/* header .fsd {
    color: var(--main-cleanCode);
    font-size: 3rem;
    font-weight: 900;
    padding-right: 3rem;
} */

header img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.links {
    padding: 0 2rem;
}

header .links a {

    color: #fff;
    
    text-decoration: none;
    padding-right: 7rem;
    font-weight: 700;
    transition: color .4s ease, font-size .2s linear;
}

header .links a:hover {
     font-size: 16px;
     color: var(--main-cleanCode);
     transform:scale(1.2);
  
     /* transition-timing-function: linear; */
}

button {
    border-radius: 0;
    padding: 10px ;
   
}

.query .btn {
    background-color: #fff;
    border-width: thin;
    border-color: var(--main-cleanCode);
    border-style: solid;
    border-radius: 5px 0 0 5px;
    margin: -4px;
}

.query input {
    border: none;
    padding-right: 50px; /* padding right didn't have effect on the button, wrapping the input element. */
    font-size: 10px;
    outline: none;
}

.btn .ipT::placeholder {
    font-size: 12px;
    padding-left: 2px;
} 

.query .btn2 {

        border-style: solid;
        border-width: thin;
        border-color: var(--main-cleanCode);
        padding: 10px 25px;
        color: #fff;
        font-size: 11px;
        background-color: var(--main-cleanCode);
        border-radius: 0 5px 5px 0;
        cursor: pointer;
}

/* Section  */

section {
    padding: 5rem 5rem;
}

.page-info-container {
    display: flex;
}

.page-info {
    flex: 1;
}

.page-info h1 {
    font-weight: 900;
    font-size: 6rem;
}

section p {
    color: #fff;
    line-height: 20px;
}

section .section-btn {
    margin-top: 1.3rem;
    padding: 8px 3rem;

    border: none;
    background-color: var(--main-cleanCode);
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    transition: transform .2s ease-out;
}

section .section-btn:hover {
    transform: scale(1.2);
    font-weight:bolder;
    opacity: 0.8;
}

section .section-btn:active {
    opacity: 0.6;
}

section .create-acc-bx {
    
    display: flex;
    flex-direction: column;
    background-color: rgb(23, 23, 23); 
    width: 250px;
    border-radius: 5px;
    height: 350px;

    text-align: center;
}

.logIn-btn {
    margin: 20px auto 40px;
    width: 180px;
    padding: 0.6rem;
    border: none;
    background-color: #fff;
    font-size: 14px;
    font-weight: 700;
    color: var(--main-cleanCode);
    border-radius: 5px;
}

section input {
    background-color: rgb(23, 23, 23); 
    border: none;
    outline: none;
    color: white;
    font-size: 13px;
    
}
section input::placeholder {
    font-size: 13px;
    font-style: italic;
    opacity: 0.5;
    color: #fff;
    margin-right: auto;
}

section hr {
    width: 180px;
  
    margin: 0 auto;
}

section hr {
    border-color: rgb(120, 85, 20); /* i set both hr to orange, but when i used rgb to fine tune to a darker color, the hr line became thinner */ 
    margin-bottom: 2rem;
}

.loginBT2 {
    width: 180px;
    padding: 0.5rem;
    border: none;
    background-color: var(--main-cleanCode);
    font-size: 14px;
    font-weight: 700; 
    border-radius: 5px;
    transition: color 1s ease;
    margin-bottom: 2rem;
    cursor: pointer;
}

section .loginBT2:hover {
    background-color: gray;
}

section .loginBT2:active {
    opacity: 0.8;
}

section p {
    line-height: 21px;
}

section p:nth-of-type(even) span { /* this pseudo class property targets all 'even' paragraphs with a span. inside 'section'. if we have 5 'p' siblings, then the 2nd and 4th paragraph will be targeted since theyr'e even numbers */
    color: rgb(226, 129, 10);
    font-size: 14px;
}

section a {
    text-decoration: none;
}

section i {
    color: #fff;
    margin-top: 25px;
    margin-right: 7%;
}

section i:hover {
    color: orange;
    cursor: pointer;
}


















