
body {
    font-family: Roboto, Arial; 
    margin: 0; /* removes all margins on all four sides of the webpage */
    padding-top: 80px; 
    padding-left: 80px;
}

p {
    

/* Removes default margins of all paragraphs on this webpage */
    margin-top: 0;
    margin-bottom: 0; 
}

