
body {
    font-family: Roboto, Arial; 
    margin: 0; /* removes all margins on all four sides of the webpage */
    padding-top: 75px; 
    padding-left: 95px;
    padding-right: 25px;
    background-color: rgb(248, 248, 248);
}

p {
    
/* Removes default margins of all  Paragraphs on this webpage */

    margin-top: 0;
    margin-bottom: 0; 
}

