
/* 
    --- commented out because this element is now placed in a child div of the 'header section -----
.search-bar {
    display: block;  
 
}

*/

.header {
    height: 55px;
    display: flex;
    justify-content: space-between;  /* distributes 'only direct child items' evenly across this header container */
   
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;

    border-bottom: 1px solid rgb(228, 228,228);
    
    z-index: 100;  /* All elements on the page will appear or move below the header when page is scrolled */
}

.left-section {
    
    /* width: 150px; "was deleted for this section to stretch and contain it's content" */
    display: flex;
    align-items: center; /* aligns items in this section vertically */

}

.hamburger-menu {
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
    
}

.youtube-logo {
    height: 24px;
}

.middle-section {
    flex: 1;  /* makes the search bar grow with the page, and will shrink until it hits it's 'default width'.  */
    margin-left: 70px;
    margin-right: 35px;
    max-width: 600px; /* search-bar can be lesser than 300px when page is shrinked, but will stop growing at a width of 300px when page is expanded. 
        The max-width property also determines the width of this middle-section */

    display: flex;
    align-items: center;
}

.search-bar {
    flex: 1; /* search-bar will grow or shrink to fit the space available in its flex container.(middle section),
                so it pushes the buttons to the right edge of the conatainer*/
    height: 36px;
    padding-left: 10px;
    font-size: 16px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 3px;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.10);  /* sets shadows 'inside' the search-bar */
    width: 0;
     /* width: 0; removes default width of the search bar input element: See LINE 38 ); Search bar will shrink as much as it can.
                The right section will be able to resize with page*/
}

        /* targets search bar's placeholder te */
.search-bar::placeholder {
    font-family: Roboto, Arial;
    font-size: 16px;
}

.search-button {
    height: 40px;
    width: 66px;
    background-color: rgb(250, 246, 246); 
    border: 1px solid rgb(192, 192, 192);
    margin-left: -1px; /* Negative margins: moves button into the search-bar input element for both elements to have one edge */
    margin-right: 10px;
}

.search-icon {
    height: 25px;
    margin-top: 4px;
}

.voice-search-button {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(250, 246, 246);
}

.voice-search-icon {
    height: 25px;
    margin-top: 4px;
}

.right-section {
    width: 250px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0; /* This property keeps the width of this section and won't shrink it's items when webpage is resized to a smaller size.
                       The items will not resize with the page after this property is set  */
}

.upload-icon {
    height: 24px;
}

.youtube-apps-icon {
    height: 24px;
}

.notifications-icon {
    height: 24px;
}

.notifications-icon-container {
    position: relative;
}

.notification-count {
    background-color: rgb(189, 14, 14);
    color: white;
    font-size: 11.5px;
    padding-right: 6px;
    padding-left: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 100%;

    position: absolute;
    top: -5px;
    right: -7px;  /* negative values: bypasses the top of it's container set to relative */
   
}


.user-picture {
    height: 32px;
    border-radius: 16px; /* half of the set user-picture's width makes the image perfectly rounded*/
}





