
/* 
    --- commented out because this element is now placed in a child div of the 'header section -----
.search-bar {
    display: block;  
 
}

*/

.header {
    height: 55px;
    display: flex;
    justify-content: space-between;
   
}

.left-section {
    
    /* width: 150px; "was deleted for this section to stretch and contain it's content" */
    display: flex;
    align-items: center;

}

.hamburger-menu {
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
    
}

.youtube-logo {
    height: 24px;
}

.middle-section {
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 600px; /* search-bar can be lesser than 300px when page is shrinked, but will stop growing at a width of 300px when page is expanded. 
        The max-width property also determines the width of this middle-section */

    display: flex;
    align-items: center;
}

.search-bar {
    flex: 1; /* search-bar will grow or shrink to fit the space available in its flex container.(middle section),
    so it pushes the buttons to the right edge of the conatainer*/
    height: 36px;
    padding-left: 10px;
    font-size: 16px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 3px;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.10);  /* sets shadows 'inside' the search-bar */
}

        /* targets search bar's placeholder te */
.search-bar::placeholder {
    font-family: Roboto, Arial;
    font-size: 16px;
}

.search-button {
    height: 40px;
    width: 66px;
    background-color: rgb(250, 246, 246); 
    border: 1px solid rgb(192, 192, 192);
    margin-left: -1px; /* Negative margins: moves button into the search-bar input element for both elements to have one edge */
    margin-right: 10px;
}

.search-icon {
    height: 25px;
    margin-top: 4px;
}

.voice-search-button {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(250, 246, 246);
}

.voice-search-icon {
    height: 25px;
    margin-top: 4px;
}

.right-section {
    background-color: peru;
    width: 250px;
}




