.right-sidebar {
    position: fixed;
    
    /* when left/right are set, element will stretch to meet both conditions. same with 'top and bottom' */
    left: 1100px;
    right: 0; 
    top: 91px;
    bottom: 0;
    padding: 0 18px 0 8px;
    overflow-y: hidden;  /* horizontal sidebar will not be visible */   
    overflow-x: hidden; /* vertical sidebar will not be visible */
}

.right-sidebar::-webkit-scrollbar {
    cursor: pointer;
    width: 15px;    
}

/* creates scrollbar*/
.right-sidebar::-webkit-scrollbar-thumb { 
    background-color: rgb(186, 180, 180);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 4px solid rgb(228, 226, 222);   /*creates padding around scroll thumb */
    cursor: pointer;
}

.right-sidebar:hover {
    overflow-y: auto; /* handling of 'sidebar links in the horizontal dirction. the width of the children(sidebar-links) was higher, for this propert to have effect */
    overflow-y: visible;
}

.right-sidebar h3 {
    color: rgb(96, 90, 90);
    font-weight: 600;
    padding-bottom: 12px;
}

.right-sidebar .right-sidebar-content-box {
    width: 290px; /* set to be more than the browser window so scrollbar will take effect when set */
    height: 80px;
    margin-bottom: 2px;
    border-radius: 5px;
    padding: 0 5px;

    display: flex;
    align-items: center;
    column-gap: 15px;
    /* overflow-y: hidden; */

    position: relative;
}

.right-sidebar .right-sidebar-content-box:hover {
    background-color: lightgray;
    cursor: pointer;
}

.right-sidebar-img-box img {
    width: 100px;
    border-radius: 5px;
}

.right-sidebar-float {
    position: absolute; /* move only inside (line 29) element area above */
    top: 7px;
    right: 70px;
}

.right-sidebar-content-box button {
    background-color: rgb(240, 244, 244);
    border-radius: 100%;
    padding: 9px;
    border: none;
    visibility: hidden;
}

.right-sidebar-float .dots-icon {
   color: gray;
}

/* since the 'button' is inside this element, it/it's content will be visible only when this element is hovered on  */
.right-sidebar-content-box:hover button { 
    visibility: visible;
    cursor: pointer;
}

.right-sidebar .content-bx {
    margin-bottom: 12px;
}

.right-sidebar hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

    width: 95%;
    margin: auto;
    padding-bottom: 13px;
}

.page-profile {
    background-color: rgb(222, 227, 227);
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
}

.icon-conT {
    background-color: rgb(222, 227, 227);
    padding: 10px 5px 0;
    border-radius: 100%;
}

.page-profile .dots-icon {
    color: gray;
    position: relative;
    bottom: 5px;
}




