.right-sidebar {
    position: fixed;
    
    /* when left/right are set, element will stretch to meet both conditions. same with 'top and bottom' */
    left: 1100px;
    right: 0;
    top: 91px;
    bottom: 0;
    padding: 0 18px 0 8px;
    overflow-y: hidden;  /* horizontal sidebar will not be visible */   
    overflow-x: hidden; /* vertical sidebar will not be visible */
}


.right-sidebar::-webkit-scrollbar {
    width: 15px;    
}

/* creates scrollbar*/
.right-sidebar::-webkit-scrollbar-thumb { 
    background-color: rgb(186, 180, 180);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 4px solid rgb(228, 226, 222);   /*creates padding around scroll thumb */
}

.right-sidebar:hover {
    overflow-y: auto; /* handling of 'sidebar links in the horizontal dirction. the width of the children(sidebar-links) was higher, for this propert to have effect */
    overflow-y: visible;
}

.right-sidebar h3 {
    color: rgb(96, 90, 90);
    font-weight: 600;
    padding-bottom: 12px;
}

.right-sidebar .right-sidebar-content-box {
    width: 290px; /* set to be more than the browser window so scrollbar will take effect when set */
    height: 80px;
    margin-bottom: 2px;
    border-radius: 5px;
    padding: 0 5px;

    display: flex;
    align-items: center;
    column-gap: 15px;
    /* overflow-y: hidden; */

    position: relative;
}

.right-sidebar .right-sidebar-content-box:hover {
    background-color: lightgray;
    cursor: pointer;
}

.right-sidebar-img-box img {
    width: 100px;
    border-radius: 5px;
}

.right-sidebar-float {
    position: absolute; /* move only inside (line 29) element area above */
    top: 7px;
    right: 70px;
}

.right-sidebar-content-box button {
    background-color: rgb(240, 244, 244);
    border-radius: 100%;
    padding: 9px;
    border: none;
    visibility: hidden;
}

.right-sidebar-float .dots-icon {
   color: gray;
}

/* since the 'button' is inside this element, it/it's content will be visible only when this element is hovered on  */
.right-sidebar-content-box:hover button { 
    visibility: visible;
    cursor: pointer;
}

.right-sidebar .content-bx {
    margin-bottom: 12px;
}

.right-sidebar hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

    width: 95%;
    margin: auto;
    padding-bottom: 7px;
}

.page-profile {
    padding: 7px 0 9px;
}

.pg-header, .icon-cT {
    display: inline-block;
    vertical-align: top;
}

.icon-conT button {
    border: none;
    border-radius: 100%;
    padding: 7px;  
    position: relative;
    bottom: 7px;
    left: 36px;
}

.page-profile .dots-icon {
    color: gray;
}


.icon-conT:hover button,
.bday-wrap:hover   {
    cursor: pointer;
}

/*  refactored style rules */

.icon-conT:hover button,
.auto-page-row:hover,
.switch-bx:hover,
.promote-bx:hover,
.friend-req-container:hover,
.req-header:hover .dovE,
.bday-wrap:hover 
  {
    background-color: rgb(222, 227, 227);

} 

.auto-page-row,
.switch-bx, .promote-bx,
.confirm-bx-btn .btn1, .btn-1  {
    cursor: pointer;
}


.auto-page-row, .switch-bx, .promote-bx,
.req-row,
.mutual-friends-info,
.bday-wrap {
    display: flex;
}

.req-header .dovE, 
.freq-info .name,
.confirm-bx-btn .btn1 {
    position: relative;
}

/*************************************** */

.auto-page-row, .switch-bx, .promote-bx  {
    align-items: center;
    column-gap: 10px;
}

.auto-page-row {
    padding: 7px 0 7px 5px;
    border-radius: 6px;
}


.switch-bx, .promote-bx {
    margin-bottom: 10px;
    padding: 6px 0 6px 10px;
    border-radius: 10px;
}

.autoPageImage img {
    width: 30px;
    border-radius: 15px;
}

.switch-bx, .promote-bx {
    padding-left: 15px;
}

.switch-bx span, .promote-bx span {
    font-weight: bold;
    color: rgb(107, 99, 99);
}

.friend-req-container {
    padding: 8px 0 0 5px;
    width: 400px;
}

.friend-req-container:hover,
.req-header:hover .dovE {
    border-radius: 5px;
    cursor: pointer;
}

.req-header .dove {
    display: inline-block;
    color: rgb(53, 53, 219);
    left: 72px;
    padding: 8px;
}


.req-row {
    column-gap: 14px;
}

.pf-imgBx img {
    width: 50px;
    border-radius: 25px;
}

.freq-info .name {
    font-weight: bold;
    font-size: 1rem;
}

.freq-info .time {
    color: darkslategray;
    font-weight: normal; 
    position: absolute;
    top: 0;
    right: -50px;
 
}

.mutual-friends-info {
    align-items: center;
    column-gap: 3px;
    margin-top: 7px;
}

.mutual-photo-bx img {
    width: 25px;
    border-radius: 12.5px;
}

.mutual-fr-cT span {
    color: rgb(112, 107, 107);
}

.confirm-bx-btn {
    margin-bottom: 15px;
}

.confirm-bx-btn .btn1 {
    left: 55px;
}

.confirm-bx-btn .btn-1 {
    margin-left: 60px;
}

.confirm-bx-btn .btn1, .btn-1  {
    background-color: var(--main-color);
    color: white;
    font-size: 1rem;
    border:  none;
    padding: 9px 10px;
    border-radius: 5px;
    margin-top: 8px;
}

.confirm-bx-btn .btn-1 {
    background-color: rgb(227,227, 227); /* css last style rule: will override (line 217) */
    color: #000;
}

.confirm-bx-btn:hover .btn-1 {
    background-color: rgb(172, 178, 178);
}

.right-sidebar button {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

.bday-wrap {
    column-gap: 10px;
    padding: 7px;
    border-radius: 5px;
    margin-bottom: 12px;
}

.birthdays-container .bday {
    color:blueviolet;
}

.birthdays-container .bday-1 span {
    font-weight: bold;
}


/* media query conditions for right-sidebar layout between 721px and 925 viewport  */

@media (min-width: 721px) and (max-width: 925px) {

.right-sidebar {
  
    left: 660px;
    right: 0;
}


.right-sidebar h3 {
  margin-top: 7px;  
}

.right-sidebar .right-sidebar-content-box {
    padding: 10px 5px;
    width: 220px;
    align-items: center;
}

.right-sidebar .right-sidebar-content-box img {
    width: 100px;
}

.right-sidebar .right-sidebar-float {
    right: 5px;
    top: 10px;
}

.right-sidebar .friend-req-container {
    padding: 8px 0 8px 5px;
    margin-bottom: 5px;
}

}

@media (min-width: 926px) and (max-width: 930px) {

.secT-one-container {
    left: 240px;
    width: 400px;
}

.secT-one-container .secT-one-child {
    width: 80%;
}

.secT-one-child .book-icon-bx .book-icoN::after {
    width: 200px;
}

.secT-one-container .create-story-box {
    position: relative;
    left: 12px;
    height: 89%;
}

.secT-one-container .create-story-box img {
    height: 200px;
}

.secT-one-container .story-grid {
    border: 1px solid green;
    grid-template-columns: 60px 90px 90px 90px;
    column-gap: 5px;
}

.secT-one-container .create-story-bx .sibling-1 {;
    top: 244px;
}

.secT-two-container, .secT-three-container {
    left: 240px;
}

.right-sidebar {
    left: 680px;
}

.right-sidebar .right-sidebar-float {
   left: 160px;
}

}
