.left-sidebar {
  background-color: rgb(240, 239, 239);
  position: fixed;
  left: 0;
  top: 63px;
  bottom: 0;
  width: 225px;
  padding: 15px 0 15px 15px;
}

.left-sidebar::-webkit-scrollbar {
    width: 14px;    
    /*height: 100%;    take up the 100% sidebar's height*/
  }

  .left-sidebar::-webkit-scrollbar-thumb { /* creates scrollbar*/
    background-color: rgb(186, 180, 180);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 4px solid rgb(228, 226, 222);   /*creates padding around scroll thumb */
  }

.left-sidebar:hover {
    overflow-y: auto; /* handling of 'sidebar links in the horizontal dirction. the width of the children(sidebar-links) was higher, for this propert to have effect */
    overflow-y: visible;
}

.left-sidebar {
    overflow-x: hidden;  /* hides vertical (bottom) scrollbar */  
}

.left-sidebar {
    overflow-y: hidden;
}

.friends-bx {
    color: rgb(66, 66, 204);
    opacity: 0.70;
}

.bxs-group {
    color: rgb(0, 128, 255);
}

.events-icon {
    color: rgb(225, 105, 105);
}

.feed-icon, .store-icon, .alarm-icon {
    color: rgb(105, 105, 224);
}

.podcast-icon {
    color: rgb(175, 72, 175);
}

.page-icon {
    color: rgb(182, 128, 26);
}

.sidebar-links button {
    background-color: rgb(224, 216, 216);
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 100%;
}

.left-sidebar hr {
   width: 215px; 
   border: 0.1px thin rgb(219, 211, 211);
   opacity: 0.6;
}

/* refactored */

.shorTcuT-edit, .sidebar-links {
    display: flex;
    align-items: center;
}

.sidebar-links {
    height: 30px;
    width: 250px;
   
    margin-bottom: 3px;
    padding: 8px 0;
    border-radius: 7px;
    gap: 10px;
}

.sidebar-links:hover {
    background-color: rgb(231, 224, 224);
    cursor: pointer;
}

.left-sidebar img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 15px;
}

[class="shorTcuT-edit"] {
    padding: 7px 0; 
    padding-top: 15px; 
}

[class="shorTcuT-edit"]:hover .ediT { /*  targets the 'ediT' div element, since it's a child of 'html code-line 215',  and show it's content when i hover over it's parent.*/
    visibility: visible;
    cursor: pointer;
}

[class='ediT'] {  /* classes are attributes too */
    color: rgb(65, 65, 218);
    font-size: 1rem;
    visibility: hidden;
}

.shorTcuT-box {
  flex: 1;
  font-weight: bold;
  color: rgb(92, 86, 86);
  font-size: 1.1rem;
}


.footer-links {
    font-size: 0.90rem;
    color: rgb(125, 118, 118);
    padding-top: 10px;
    text-decoration: none;
}