* {
    --font-font: system-ui, Arial;
    --main-color: rgb(27, 116, 228);
    --header-icons-color: rgb(109, 104, 104);
    --border-set: 1px solid black;
    --tooltip-set: rgb(22, 21, 21);
   
    --header-icons: rgb(172, 160, 160);
    --header-bg: #fff;
    --search-boxColor: rgb(234, 231, 231);
    --hover-color: rgb(239, 231, 231);

    padding: 0;
    margin: 0;
}

html {
    font-size: 12px; /* All font-sizing on this page will be relative to 12px */
}

body {
    font-family: var(--font-font);
}


        /* code-refactoring */
.header, .left-section, .mid-section, .home-link,
.midS-link, .right-section  {
    display: flex;
}

.bx-search, .header-searchBx, .home-link-container  {
    position: relative;
}

            /* header Section */

.header {
    height: 63px;
    border-bottom: 0.1rem rgb(223, 212, 212) solid; /* width, color, style  */

    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    background-color: var(--header-bg);
}

            /* left section */

.left-section {
    width: 350px; 
    align-items: center; 
    padding: 7px; 
}

.fb-icon {
    color:  var(--main-color);
}

.bx-search {
    left: 20px; /* move 30px of space from the left of the exact spot where you once sat*/
    top: 1px;
    color: var(--header-icons-color); 

    z-index: 1; 
}

.header-searchBx {
    background-color: var(--search-boxColor);
    border: none;
    font-size: 1rem;
    border-radius: 56px;
    padding: 14px 60px 14px 40px;
    outline: none;
    right: 13px;
}

.header-searchBx::placeholder {
    font-size: 1rem;
}

            /* Mid-section */

.mid-section {  
    max-width: 700px;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

.home-link {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.home-IcoN {
    color: var(--main-color);
}

/* content 'after' this anchor tag's icon */
.home-link a:after  { 
    background-color: var(--main-color);
    content: '';
    display: block;
    height: 3px;
    width: 100px;
   
    position: relative;
    top: 15.5px;
}

.midS-link { 
    width: 110px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}

.midS-link:hover {
    background-color: var(--hover-color);
}

.midS-link a {
    color: rgb(86, 79, 79);
}

.query-icon:hover {
    opacity: 0;  /* hides this div element hover. (line 57, html code) to */
}

        /* Tool-tips style rules for mid-section links */

.tool-tip {
    background-color: var(--tooltip-set);
    color: white;
    padding: 6px 13px;
    border-radius: 4px;

    position: absolute;
    bottom: -37px;
    right: 20px;
    opacity: 0;

    pointer-events: none; /* tooltip will appear ONLY when the home icon is hovered on, if this is not set, the tool tip text box appears when mouse rolls over where i initially placed the tool-tip */
}

.home-link-container:hover .tool-tip  {
    opacity: 0.80;
}

             /* Right section */

.right-section {
    justify-content: end;
    align-items: center;
    width: 220px;
    margin-left: auto; /* take up the remaining space on your left after flex:1 was set to 'mid-section' */
    padding-right: 12px;
}


.right-section a {
    color: black;
}

.right-section > button {  /* target only child (buttons). button content is not affected */
    height: 48px;
    width: 48px;
    border-radius: 24px;
    border: none;
    margin-right: 7px;
    background-color: rgb(223, 216, 216);

    position: relative;
}

.notification-count {

    background-color: rgb(213, 28, 28);
    color: white;
    padding: 5px 7px 5px 7px;
    border-radius: 10px;

    position: absolute;
    top: -7px;  /* move up, beyond your parent's top */
    right: -1px;
}

.bell-notify {
    transform: rotate(-9deg); /* negative rotation: rotates bell icon anti-clockwise */
}

.user-photo {
    width: 48px;
    height: 48px;
    object-fit: cover; /* keeps the image's original resolution*/
    border-radius: 24px; /* half of the img element width and height will get a circle */
} 


        /* media Query Condition for 0-999px viewport */

@media (max-width: 999px) {

    .fb-icon {
        left: 7px;
    }

    .left-section input, .fb-icon {
        position: relative;
    }

    /* disable default/all set widths and paddings intially set to this element */
    .header-searchBx {
        width: 0;
        padding: 0;
    }

    .left-section input {
        width: 34px;
        height: 34px; /* will be a circle. border radius was already set. see css code-line: 56 */
    }

    .search-icon {
        margin-right: 5px;
    }

    .left-section input::placeholder {
        visibility: hidden; /* hide the input's element's placeholder */
    } 

}

@media (max-width: 970px) {
    .midS-link .console-icon {
        position: absolute;
        top: -500px;
    }

    .midS-link .menu-icon {
        position: relative;
        right: 90px;
    }
}

@media (min-width: 999px)  {

      .mid-section {
        flex: 1;
        margin: auto;
      }

      .midS-link .menu-icon {
        position: absolute;
        top: -500px; /* displaces the icon and places/hides beyond top of browser window*/
      }   
}

@media (max-width: 1158px)  {

    .mid-section {
        max-width: 400px;
    }

    .mid-section .midS-link .menu-icon {
        margin-left: 40px;
    }

}


























































































































































































































































































