* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth; /* performs 'smooth page scroll' to an anchor tag on the same page */
    font-family: 'Poppins', sans-serif;
}

:root {
    --main-color: #0ef; /* Css var, 'variables' functions. Accepts ONLY css property values. */
    --bg-color:  #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;

}

html {
    font-size: 62.5%;
    overflow-x: hidden; /* sets what shows when content overflows a block-level element's left and right edges.*/
}

body {
   background-color: var(--bg-color); /* calls in set variable set to 'root'. Page's background-color will be #1f242d; */
   color: var(--text-color); 
}


section {
    background-color: teal;
    min-height: 100vh; /* defines the minimum height of all section element. */
    padding: 10rem 9% 2rem;

}

.home {
    display: flex;
    align-items: center;
}

div .profile-picture {
    width: 200px;
}

.header {
    position: fixed;
   
    background-color: var(--bg-color);
   
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;

    display: flex;
  
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

.logo {
    color: var(--main-text-c0lor);
    font-size: 2.5rem;
    font-weight: 600;
}

/* Targets nav links */
.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem; 
    transition: margin-left 3s .4s, color 1s;  /* transition: 3s;  navlinks will spread to set margin smoothly for 3seconds. Refresh page to See.
    I observed that the dot(.) in front of the 'delay'(4s) makes the transitioning take effect almost immediately. (remove to see effect */
}

.navbar a:hover,
.navbar .active {  /* let's users know what page they're on.  (Any classname can be used.) and will have same color used for links hovering styles. This can be set seperately. I used it here to save code */
    color: var(--main-color); /* nav links will have page bg color when rolled over */
}

#boxicon-menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none; /* boxicon menu icon will be temporarily hidden */
}


