* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth; /* performs 'smooth page scroll' to an anchor tag on the same page */
    font-family: 'Poppins', sans-serif;
}

:root {
    --main-color: #0ef; /* Css var, 'variables' functions. Accepts ONLY css property values. */
    --bg-color:  #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;

}

html {
    font-size: 62.5%;
    overflow-x: hidden; /* sets what shows when content overflows a block-level element's left and right edges.*/
}

body {
   background-color: var(--bg-color); /* calls in set variable set to 'root'. Page's background-color will be #1f242d; */
   color: var(--text-color); 
}

.header {
    position: fixed;
   
    background-color: var(--bg-color);
   
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;

    display: flex;
  
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

.logo {
    color: var(--main-text-c0lor);
    font-size: 2.5rem;
    font-weight: 600;
}

/* Targets nav links */
.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem; 
    transition: margin-left 3s .4s, color 1s;  /* transition: 3s;  navlinks will spread to set margin smoothly for 3seconds. Refresh page to See.
    I observed that the dot(.) in front of the 'delay'(4s) makes the transitioning take effect almost immediately. (remove to see effect */
}

.navbar a:hover,
.navbar .active {  /* let's users know what page they're on.  (Any classname can be used.) and will have same color used for links hovering styles. This can be set seperately. I used it here to save code */
    color: var(--main-color); /* nav links will have page bg color when rolled over */
}

/* styles to all sections on this page */
section {
    min-height: 100vh; /* defines the minimum height of all section element. All sections height will be equal to that of this webpage. */
    padding: 10rem 9% 2rem;
}

                /* Home section */

.home {
    display: flex;
    align-items: center;
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 500;
}

.home-content h3:nth-of-type(2) { /* CSS pseudo-class- This matches elements based on their position among siblings of the same type (tag name).*/
    margin-bottom: 2rem;
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 600;
    line-height: 1.3; /* line spacing on the top and bottom of this element*/
}

span {
    color: var(--main-color);
}

.home-content p {
    font-size: 1.3rem;
}

.social-media a {
    display: inline-flex; /* still a flexbox, but will takes much space based on it's contents with. In this case. Anchor Tags */
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border: .2rem solid var(--main-color); /* The dot '.' preceeding the '2rem' value prevents the borders to have a background color inside */
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color); /* sets boxicon icons 'color' to the variable value of --main-color */
    margin: 3rem 1.5rem 3rem 0;
}

.btn {
    background-color: var(--main-color);
    display: inline-block;
    padding: 1rem 2.8rem;
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color); /* have a vertical and horizontal of 0, blur of 16px and a color set to the var-fuction(). see line 13 */
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem; /* sets the horizontal spacing behavior between this anchor tag text characters. The preceeding dot(.) prevents letters from spreading far apart */
    transition: 1s ease; /*  transition effect with a slow start, then fast, then end slowly. This is default   */
}

.btn:hover {
    box-shad    ow: none; /* gets rid of 'code line 121' styles when element is hovered on */
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
    transition: .5 ease;
}

div .profile-picture {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    object-fit: cover;
}

#boxicon-menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none; /* boxicon menu icon will be temporarily hidden */
}

            /* About section  */

.about {
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem; /*  specifies the size of the gap between the rows of the about section */
    background-color: var(--second-bg-color);
}

.profile-pic2-container {
    margin-right: 6rem;
}

.profile-pic2 {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

        /* Services Section */

.services h2 {
    margin-bottom: 5rem;
}

.services-b {
    display: flex;
    gap: 3rem; /* flex column gap. (gap: 3rem 4rem) = flex row gap and flex column gap   */
}

.services-container {
 
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    width: 40vw;
    
}

.services-box p {
    padding-bottom: 1rem;
}

.services-box h3 {
    margin-bottom: 0.5rem;
}

.services-container .services-box {
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .1.5rem solid var(--bg-color); /* remove preceeding dot (.) to see effect on the border radius*/
    transition: .5s ease; /* will have effect on 'services-box div' (code line 244) */
}

.services-box i {
    font-size: 5rem;
    color: var(--main-color);
}

.services-box h3 {
   font-size: 2.6rem; 
}

.services-box p {
   font-size: 1.6rem;
   margin: 1rem 0 3rem; 
}

.services-box:hover {
    border-color: var(--main-color);
    transform: scale(1.2); /* Scale this div closer to the user when hovered on*/
    cursor: pointer;
}

            /* Portfolio Section  */

.portfolio {
    background: var(--second-bg-color);
    
    /* grid-template-columns: repeat(3, 1fr); shortcut repeat grid function instead of using '1fr 1fr 1fr'. Here '1fr' is repeated 3 times.*/  */
    
    /* align-items: center; */
}

.portfolio h2 {
    margin-bottom: 5rem;
  
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem; /* column and row grid spacing */
    align-items: center;
    overflow: hidden; /* images won't overflow padding right/left set to all sections of this webpage (line 70)*/
}

.heading span {
    margin-left: 10px;
}

.portfolio-box img {
    /* width: 200; */
    /* width: 500px;
    height: 400px; */
    /* object-fit: cover; */
    width: 100%;
    transition: .5s ease;
}

.portfolio-box:hover img {
    transform: scale(1.1);
}

.portfolio-container .portfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.portfolio-box .portfolio-layer {
    position: absolute; /* '.portfolio-layer' contents will float and move only inside '.portfolio-box'  */
   
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
    /* left: 0;
    width: 0;
    height: 100%; */

    display: flex;
  
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center; 
    padding: 0 4rem;
    transform: translateY(100%); /* hides the background/linear gradient styles from this elemnt */  
    transition: .3s ease; /* The preceeding dot(.) before the transition second makes the transtion effect set to this element faster */
}

.portfolio-box:hover .portfolio-layer { /* targets 'portfolio-layer' element. when we hover over 'portfolio', since portfolio-layer element floats but relative to it's parent.*/
    transform: translateY(0);  /* linear gradient background styles will appear horizontally with transition duration time of .3s  when we hover  
    If set to 'X', linear gradient background styles will appear vertically*/
}

.portfolio-layer h4 {
    padding-bottom: 1rem;
    font-size: 2.4rem;
}

.portfolio-layer p {
    font-size: 12px; 
    padding-bottom: 1.5rem;
}

.portfolio-box {
    transition: .3s ease;
}

.portfolio-box:hover {
    transform: scale(0.99);
    cursor: pointer;
}

.portfolio-layer a {
    display: flex; /* see code line 104 */
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.portfolio-layer a i {
    font-size: 3rem;
}


                /* Contact Section  */


.contact h2 {
   margin-bottom: 3rem; 
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;   
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /*flex items are forced onto one line or can wrap onto multiple lines.*/
}

.input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}

.input-box input {
    width: 49%;
}

form textarea {
    resize: none; /* removes 3 lines right bottom of textarea box so it cannot be resized */
}

form p {
    margin: 0;
    text-align: center;
}

form .btn {
    margin-top: 2rem;
    cursor: pointer;  
}








