
.qualifications {
    padding: 3% 5%;
}

.qualifications p {
    color: gray;
}

.qualifications h1, h2 {
    color:#d57017;  
    font-size: 20px; 
}

.qualifications h1, h2, h3 {
    padding: 0 0 1%;
  
}

.qualifications h3 {
    color: white;
}

.qualifications .wrapper {
    display: flex;
    justify-content: space-between;
    column-gap: 15%;
}


.ex-ref-edu, .ref1, .ref2 {
    padding-bottom: 5%;
}

ul li  {
    line-height: 1.8rem;
    padding-left: 2px;
    list-style: none;
}

.cerT p {
    padding-bottom: 10px;
    font-weight: 700;
    word-spacing: 5px;
}

.edu p {
    line-height: 25px;
    padding: 5% 0 5% 0;
}

.interesT {
    padding-top: 82px;
    text-align: center;
    display: flex;
}

.b-p {
    padding-top: 40px;
    margin-right: 25px;
    position: relative;
    right: 109px;
}

