
.qualifications {
    padding: 3% 5%;
}

.qualifications p {
    color: gray;
}

.qualifications h1, h2 {
    color:#d57017;  
    font-size: 20px; 
}

.qualifications h1, h2, h3 {
    padding: 0 0 1%;
  
}

.qualifications h3 {
    color: white;
}

.qualifications .wrapper {
    display: flex;
    justify-content: space-between;
    column-gap: 15%;
}


.ex-ref-edu, .ref1, .ref2 {
    padding-bottom: 5%;
}

ul li  {
    line-height: 1.8rem;
    padding-left: 2px;
    list-style: none;
}

.cerT p {
    padding-bottom: 10px;
}

.edu p {
    line-height: 25px;
    padding: 5% 0 5% 0;
}

.interesT {
    padding-top: 82px;
    text-align: center;
    display: flex;
}

.b-p {
    padding-top: 40px;
    margin-right: 25px;
    position: relative;
    right: 109px;
}

/* media query */

@media (max-width: 360px) {

    
    html p {
        font-size: 12px;
    }

    html h3 {
        padding-top: 12px;
        font-size: 14px;
        padding-bottom: 10px;
    }

    .section-box  {
        display: flex;
        flex-direction: column;
    }

    .section-box img {
        width: 80px;
        height: 50px;
        /* border-radius: 25px; */
    }

    .wrapper {
        flex-direction: column;
    }

    .reference,
    .cerT, 
    .edu-container,
    .socials,
    .contact {
        padding-top: 15%;
    }
   
    .wrap {
        display: flex;
        flex-direction: column;
    }

}

