/* Google font */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


/* Global styles */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #131313;
    font-family: Roboto, Arial;
    color: white;
}

/* Custom styles */

.resume-header,
.qualifications {
    width: 70%;
    margin: 25px auto;
    box-sizing: border-box;
    min-height: 500px;
    border: 1px solid red;
}

.sectionBox {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 150px;
}

.profile-box img {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    object-fit: cover;
}

.abouTme {
    line-height: 35px;
    padding-top: 50px;
}

.abouTme .sp1 {
    font-weight: 400;
}

.sp2 {
    color: #d57017;
    font-size: 30px;
    font-weight: 700;
}

.abouTme p:nth-of-type(1) {
    font-weight: 500;
    font-size: 1.2rem;
    padding-top: 15px;
    word-spacing: 5px;
}

.abouTme p:nth-of-type(2) {
    line-height: 20px;
    padding-bottom: 20px;
}

.abouTme a {
    /* color: rgb(246, 242, 242); */
    color: rgb(48, 48, 230);
    padding-top: 5rem;
    font-size: 13px;
    font-style: italic;
}


            /*  media query condition for 'resume-header.  360px viewport width and lesser    */

@media (max-width: 360px) {

    .sectionBox {
        grid-template-columns: 1fr;
        gap: 2px;
    }

    .profile-box img {
        width: 180px;
        height: 180px;
        border-radius: 90px;
        margin-bottom: 25px;
    }

    .profile-box img,
    .abouTme {
        vertical-align: top;
    }

    .abouTme {
        padding-top: 0;
        line-height: 10px;
    }

    .abouTme h1 {
        line-height: 2rem;
        padding-bottom: 5px;
    }

    .abouTme p:nth-of-type(1) {
        font-size: 17px;
        word-spacing: 3px;
        padding-bottom: 25px;
    }

    .abouTme p:nth-of-type(2) {
        font-size: 12px;
    }

    .abouTme .sp1 {
        font-size: 15px;
    }

    .abouTme .sp2 {
        font-size: 20px;
    }

   .abouTme a {
    font-size: 10px;
   }

}